header {
  border-bottom: 10px solid black; /* Adds a black solid border to the bottom of the header */
  text-align: center; /* Centers the text in the header */
  margin-bottom: 40px; /* Adds margin at the bottom of the header */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Adds a box shadow with specified values */
  min-height: 70px; /* Sets the width of the header to 100% */
}

body {
  font-family: 'Play', sans-serif;  /* Sets the font family for the body */
  font-size: 15px; /* Sets the font size for the body */
  line-height: 1; /* Sets the line height for the body */
  color: #333; /* Sets the color of the text in the body */
  background: linear-gradient(to right, #00BFA6, #2978B5, #FFC107); /* Sets a linear gradient background */
  background-repeat: no-repeat; /* Prevents background repetition */
  background-attachment: fixed; /* Fixes the background position */
  background-size: cover; /* Covers the entire background area */
  margin: 0; /* Resets the default margin */
  padding: 20px; /* Resets the default padding */
}

.top-bar {
  background-color: #fff; /* Sets the background color of the top bar */
  position: fixed; /* Fixes the position of the top bar */
  top: 0; /* Sets the top position of the top bar */
  left: 0; /* Sets the left position of the top bar */
  width: 100%; /* Sets the width of the top bar */
  height: 40px; /* Sets the height of the top bar */
  z-index: 999; /* Sets the z-index to ensure the top bar is on top of the body content */
  display: flex; /* Displays the top bar as a flex container */
  justify-content: space-between; /* Distributes the items in the top bar evenly */
  align-items: center; /* Aligns the items vertically in the top bar */
  padding: 10px; /* Adds padding to the top bar */
}

#project-container {
  overflow: visible; /* Ensure shadows are not clipped */
  display: flex; /* Maintain flex layout */
  flex-wrap: wrap; /* Allows wrapping */
  justify-content: center; /* Centers the content */
  gap: 10px; /* Space between child elements */
  padding: 100px; /* Padding around the container */
}

.container {
  margin: 200px; /* Space between header and card content */
}

.socials {
  display: flex; /* Displays social links in a row */
  gap: 5px; /* Space between social icons */
  margin-right: auto; /* Moves social icons to the right */
}

.social-icon svg {
  width: 25px; /* Width of social icon */
  height: 25px; /* Height of social icon */
}

.title-block {
  text-align: left; /* Aligns title to the left */
  margin: 0 50px 10px 50px; /* Margin for spacing */
}

.title-block h1,
.title-block p {
  line-height: 0; /* Removes extra line spacing */
}

h1 {
  font-size: 18px; /* Size of header text */
}

.logo img {
  height: 40px; /* Height of logo */
  margin: 10px; /* Space around the logo */
}

.navbar {
  display: flex; /* Navbar layout */
  align-items: center; /* Centering items */
  height: 100%; /* Full height */
  padding: 0 20px; /* Horizontal padding */
}

.navbar a {
  color: #333; /* Link color */
  font-family: "Helvetica Neue", Arial, sans-serif; /* Link font */
  font-size: 16px; /* Link font size */
  margin-right: 20px; /* Space between links */
  text-decoration: none; /* Removes underline */
}

.row {
  display: flex; /* Flex layout */
  flex-wrap: wrap; /* Allows wrap */
  justify-content: center; /* Centers content */
  align-items: flex-start; /* Aligns to top */
  margin-top: 150px; /* Space from top */
}

a {
  color: black; /* Link color */
  font-family: Arial, sans-serif; /* Font family */
}

.card {
  padding: 15px; /* Padding inside card */
  flex: 1 0 calc(25% - 30px); /* Card width control */
  margin: 3px; /* Space around card */
  border-radius: 8px; /* Rounded corners */
  border: 11px solid black; /* Border */
  max-width: calc(21% - 30px); /* Width */
  box-sizing: border-box; /* Includes padding/border */
  background-color: #fff; /* Background */
  display: flex; /* Flex layout */
  flex-direction: column; /* Vertical direction */
  justify-content: space-between; /* Vertical spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Shadow */
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* iOS Safari shadow */
  min-width: 300px; /* Minimum width */
  height: 100%; /* Full height */
  overflow: visible; /* Ensures shadows aren't clipped */

  /* For small screens */
  @media (max-width: 600px) {
    min-width: 100%;
  }
}

.card h3 {
  font-size: 18px;
  margin: 10px 0 5px 0;
}

.card-content {
  font-size: 12px;
  line-height: 1.2;
  height: 85px;
  overflow: hidden;
}

.card p.card-content {
  font-size: 14px;
  margin-bottom: 10px;
}

.card img.demo {
  border-radius: 30px; /* Rounded corners */
  width: 80%; /* Image width */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Contain image */
  margin: 0 auto; /* Center image horizontally */
  display: block; /* Removes inline spacing */
}

@media (max-width: 650px) {
  .card {
    width: 100%;
  }
}

img.demo {
  filter: brightness(150%);
  filter: contrast(120%);
  filter: drop-shadow(5px 5px 5px rgb(55, 54, 54)); /* Additional shadow effect */
}

.tag {
  display: inline-block;
  background-color: #f2f2f2;
  color: #333;
  padding: 4px 8px;
  font-size: 12px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.tags {
  white-space: nowrap;
}

.card img {
  border-radius: 0px;
  width: 70%;
  height: auto;
  margin-bottom: 5px;
}

@media (min-width: 300px) {
  .card {
    min-width: 300px;
  }
}

.navbar {
  flex-direction: column;
  padding: 20px;
}

.menu {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu.active {
  display: flex;
  flex-direction: column;
}

.zoom:hover img {
  transform: scale(1.03);
  transition: all ease 300ms;
}

.zoom {
  display: flex; /* Centers the image in the container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 0; /* Reset padding */
}

.zoom img {
  width: 80%; /* Image size within container */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain;
}

/* Burger icon and responsive navbar styles */
.burger {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: calc(50% - 20px);
  transform: translate(-50%, -50%);
}

.burger-icon {
  width: 24px;
  height: 24px;
  fill: #333;
}

.burger-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: #fff;
  padding: 10px;
  display: none;
}

.burger:hover + .burger-menu {
  display: block;
}
